.side_bar_button {
    transition: all 0.2s;
}

.side_bar_button:hover {
    background-color: rgba(160, 255, 106, 0.43);
}

.smooth {
    transition: all 3s;
}

.cursor_pointer {
    cursor: pointer;
}

.event_member {
    transition: all 0.2s;
    background-color: rgba(161, 161, 161, 0.18);
}

.event_member:hover {
    background-color: rgba(161, 161, 161, 0.43);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}
